@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../sources/iconfont.ttf?t=1650275194789') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e63a";
}

.icon-icon-test1:before {
  content: "\e63b";
}

.icon-icon-test2:before {
  content: "\e63c";
}

.icon-icon-test3:before {
  content: "\e63d";
}

.icon-icon-test4:before {
  content: "\e63e";
}

